<%- include("header") -%>

<div class="wrapper">
    <div class="text-center">

        <form action="/api/specificingredient" method="POST">
            <input type="text" name="searchme" placeholder="Specific Ingredient" autocomplete="off">
            <button class="buttonaddinventory1" type="submit">Search</button>
        </form>

    </div>
    <% if(searchedquery === "") { %>
    <h1>begin search</h1>
    <%} else { %>
    <% searchedquery.forEach(function(asdfasdf){ %>
    <h4><%= asdfasdf %></h4>
    <% }) %>
    <% } %>


</div>

<%- include("footer") -%>