<%- include("header") -%>

<form action="/api/specificingredient" method="get">

    <label>Ingredient</label>

</form>

<div class = "wrapper centerme text-center" style="margin: 0 auto; width: 800px;">
    <% only5.forEach(function(eacharray){ %>
    <div class="card" style="width: 18rem;">
        <img src="<%= eacharray.thumbnail_url %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title colorblack"><%= eacharray.name %></h5>
            <p class="card-text colorblack">Some quick example text to build on the card title and make up the bulk of
                the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <% }) %>
</div>


<%- include("footer") -%>